@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&family=Open+Sans&display=swap");

*{
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("/images/fondoindex.jpg"); */
  background-color: #00B2C5;
  background-size: cover;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
header{
  width: 480px;
  margin: 0 auto;
  padding-bottom: 300px;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: rgb(255, 255, 255);
  color: #00B2C5;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color: #00B2C5;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}
